<ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let card of deck; index as i">
    <div class="carousel-caption">
      <!--      <h3>My slide {{i + 1}} title</h3>-->
    </div>
    <!--    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">-->
    <!--      <div class="picsum-img-wrapper">-->
    <!--        <img [src]="img" alt="My image {{i + 1}} description">-->
    <!--      </div>-->
    <!--    </a>-->
    <div class="card-list">
      <app-card #previousCard *ngIf="deck[i-1]" [card]="deck[i-1]"></app-card>
      <app-card #currentCard *ngIf="card" [card]="card"></app-card>
      <app-card #nextCard *ngIf="deck[i+1]" [card]="deck[i+1]"></app-card>
    </div>
    <br/>
    <br/>
  </ng-template>
  <!--  <ng-template ngbSlide>-->
  <!--  <app-card></app-card></ng-template>-->
</ngb-carousel>

<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
  <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
  <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
  <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
</div>
<button mat-button (click)="togglePaused()">
  {{paused ? 'Cycle' : 'Pause' }}
</button>
