.panel {
  border-style: dotted;
  display: flex;
  flex-wrap: wrap;
}

.deck {
  background: #424242;
  box-shadow: /* The top layer shadow */ 0 -1px 1px #424242,
    /* The second layer */ 0 -10px 0 -5px #eee,
    /* The second layer shadow */ 0 -10px 1px -4px #424242,
    /* The third layer */ 0 -20px 0 -10px #eee,
    /* The third layer shadow */ 0 -20px 1px -9px #424242;
  /* Padding for demo purposes */
  /*padding: 30px;*/
  width: 20%;
  height: 12%;
  margin: 2%;
  text-align: center;
}
